[package]
name = "ekubo"
version = "0.1.0"
description = "Core interfaces of Ekubo Protocol"
homepage = "https://docs.ekubo.org"
cairo-version = "2.5.1"
edition = '2023_11'

[dependencies]
starknet = "=2.5.1"

[[target.starknet-contract]]
allowed-libfuncs-list.name = "audited"
casm = true

[lib]
allowed-libfuncs-list.name = "audited"
